Package: com.uckermark.shortcuts
Name: Shortcuts
Version: 0.0.1
Architecture: iphoneos-arm
Description: A shortcuts experiment
Maintainer: Uckermark
Author: Uckermark
Section: System
Tag: role::hacker
Depends: firmware (>= 12.0)
